.feedback-form {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    padding: 12px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.feedback-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.feedback-form button {
    border-radius: 4px;
    padding: 8px 12px;
    font: inherit;
    cursor: pointer;
}

input,
textarea {
    border-radius: 4px;
    padding: 8px;
    font: inherit;
}

input:hover,
input:focus {
    background-color: rgb(255, 148, 148);
    border: 3px solid #5ab95d;
}

textarea:hover,
textarea:focus {
    border: 3px solid #5ab95d;
}

textarea {
    resize: none;
}

.submit:hover {
    background-color: #5ab95d;
}